<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
        
    <import resource="spring-db-config.xml"/>
    <import resource="dozer.xml"/>
    <aop:aspectj-autoproxy/>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    

    <bean id="stavebnistrojeMachineDao" class="cz.muni.fi.stavebnistroje.daoImpl.MachineDaoImpl" /> 
    
    <bean id="machineService" class="cz.muni.fi.stavebnistroje.serviceImpl.MachineServiceImpl">
        
        <property name="machineDao" ref="stavebnistrojeMachineDao"/>
    </bean>
    
    
    <bean id="stavebnistrojeCustomerDao" class="cz.muni.fi.stavebnistroje.daoImpl.CustomerDaoImpl" /> 
    
    <bean id="customerService" class="cz.muni.fi.stavebnistroje.serviceImpl.CustomerServiceImpl">
       
        <property name="customerDao" ref="stavebnistrojeCustomerDao"/>
    </bean>
    
    
    
    <bean id="stavebnistrojeRentDao" class="cz.muni.fi.stavebnistroje.daoImpl.RentDaoImpl" /> 
    
    <bean id="rentService" class="cz.muni.fi.stavebnistroje.serviceImpl.RentServiceImpl">
        
        <property name="rentDao" ref="stavebnistrojeRentDao"/>
        <property name="machineDao" ref="stavebnistrojeMachineDao"/>
    </bean>
    
    <bean id="stavebnistrojeRevisionDao" class="cz.muni.fi.stavebnistroje.daoImpl.RevisionDaoImpl" /> 
    
    <bean id="revisionService" class="cz.muni.fi.stavebnistroje.serviceImpl.RevisionServiceImpl">
        
        <property name="revisionDao" ref="stavebnistrojeRevisionDao"/>
    </bean>
    
  

    
</beans>