<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
        
    <import resource="spring-db-config.xml"/>
    <import resource="dozer.xml"/>
    <aop:aspectj-autoproxy/>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    

    <bean id="stavebniStrojeMachineDao" class="cz.muni.fi.stavebniStroje.daoImpl.MachineDaoImpl" /> 
    
    <bean id="machineService" class="cz.muni.fi.stavebniStroje.serviceImpl.MachineServiceImpl">
        <property name="EMF" ref="entityManagerFactory"/>
        <property name="machineDao" ref="stavebniStrojeMachineDao"/>
    </bean>
    
    
    <bean id="stavebniStrojeCustomerDao" class="cz.muni.fi.stavebniStroje.daoImpl.CustomerDaoImpl" /> 
    
    <bean id="customerService" class="cz.muni.fi.stavebniStroje.serviceImpl.CustomerServiceImpl">
        <property name="EMF" ref="entityManagerFactory"/>
        <property name="customerDao" ref="stavebniStrojeCustomerDao"/>
    </bean>
    
    
    
    <bean id="stavebniStrojeRentDao" class="cz.muni.fi.stavebniStroje.daoImpl.RentDaoImpl" /> 
    
    <bean id="rentService" class="cz.muni.fi.stavebniStroje.serviceImpl.RentServiceImpl">
        <property name="EMF" ref="entityManagerFactory"/>
        <property name="rentDao" ref="stavebniStrojeRentDao"/>
    </bean>
    
    <bean id="stavebniStrojeRevisionDao" class="cz.muni.fi.stavebniStroje.daoImpl.RevisionDaoImpl" /> 
    
    <bean id="revisionService" class="cz.muni.fi.stavebniStroje.serviceImpl.RevisionServiceImpl">
        <property name="EMF" ref="entityManagerFactory"/>
        <property name="revisionDao" ref="stavebniStrojeRevisionDao"/>
    </bean>
    
  

    
</beans>